<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch" />

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.glitch.com/38bea932-76f8-44d0-a6c7-d9d3da9169b9%2FBook.ico?v=1619724258003"
      sizes="32x32"
    />

    <!-- import the webpage's client-side javascript file -->
<!--     <script src="../js/Common.js"></script> -->
    <script src="/js/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Signup API
      </h1>
    </header>

    <main>
      <form>
        Sign Up
        <input
          name="name"
          aria-label="name"
          type="text"
          maxlength="100"
          placeholder="Name"
        />
        <input
          name="email"
          aria-label="email"
          type="text"
          maxlength="100"
          placeholder="Email"
        />
        <input
          name="password"
          aria-label="password"
          type="text"
          maxlength="100"
          placeholder="Password"
        />
        <button type="submit" id="submit">Sign up</button>
      </form>
      <form>
        Login
        <input
          name="email"
          aria-label="email"
          type="text"
          maxlength="100"
          placeholder="Email"
        />
        <input
          name="password"
          aria-label="password"
          type="text"
          maxlength="100"
          placeholder="Password"
        />
        <button type="submit" id="submit">Log in</button>
      </form>
      <section class="users">
        Users:
        <ul id="users"></ul>
        <button id="clear-users">
          Clear Users
        </button>
      </section>
    </main>

    <footer>Made with <a href="https://glitch.com">Glitch</a>!</footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
